html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, button, input {
  font-family: rubik, sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #31302c;
}
h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: 500;
}
h1 {
  font-size: 30px;
  line-height: 39px;
  margin: 0;
}
main {
  margin: 0 auto;
  padding: 26px;
  max-width: 728px;
}
button {
  background-color: #517b9e;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  color: white;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  padding: 3.25px 19.5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
button:hover, button:focus {
  background-color: #6fa6d4;
}
button:active {
  background-color: #456988;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}
button, input {
  vertical-align: middle;
}
