<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Example: {{ page.title }}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
<link rel="stylesheet" href="/index.css">
<style>
  body {
    background: #ccc;
  }
  .desc {
    margin-top: 0;
  }
  main {
    width: 600px;
    height: 400px;
    background: white;
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/0.12.80/Tone.min.js"></script>
<body>
  <main>
    <h1>{{ page.title }}</h1>
    <p class="desc">{{ page.description }}</p>
    {{ content }}
  </main>
</body>
